@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.caixaHeader {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
    width: auto;
    background-color: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logotipo {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-left: 122px;
}

.pizza {
    color: #39B24A;
}

.ampersand {
    color: #FFFFFF;
}

.front {
    color: #FC200C;
}

.navSuperior {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: 28px;
    gap: 17px;
    color: #FFFFFF;
}

.section_cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 35px;
    margin-bottom: 35px;
    gap: 8px;
}

.card1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    background-image: url(/01_BIM/Front_End_I/Aula_11/IMG/delivery.jpg);
    width: 490px;
    height: 350px;
    border-radius: 5px;
}

.promocao {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 485px;
    height: 28px;
    margin-top: 4px;
    gap: 10px;
    font-weight: bold;
}

.promocao h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.envio {
    color: #FC200C;
}

.compra {
    color: #F3F3F3;
}

.card2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    background-image: url(/01_BIM/Front_End_I/Aula_11/IMG/pizzaFalling.jpg);
    background-repeat: no-repeat;
    background-position: 80%;
    width: 490px;
    height: 350px;
    border-radius: 5px;
}

.cardapio{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: bold;
}

.cardapio h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-top: 26px;
    color: #FC200C;
}

.top5 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.top5 h1 {
    margin-left: 69px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #222222;
}

.lista {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 51px;
    margin-bottom: 75px;
    gap: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}

.fim {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 150px;
    background-color: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bottomNav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 20px;
    gap: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F3F3F3;
}

.sublogo {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: 42px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}